# Токен вашего Telegram бота, полученный от @BotFather
# Пример: TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
TOKEN=

# Список разрешенных ID пользователей Telegram, разделенных запятыми
# Чтобы узнать свой ID, отправьте сообщение боту @userinfobot
# Пример: ALLOWED_USER_IDS=123456789,987654321
ALLOWED_USER_IDS=
