# Telegram bot token received from @BotFather
# Example: TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
TOKEN=

# List of allowed Telegram user IDs, separated by commas
# To find out your ID, send a message to @userinfobot
# Example: ALLOWED_USER_IDS=123456789,987654321
ALLOWED_USER_IDS=